services:
    server:
        image: ghibli-films-server:${SERVER_VERSION}
        container_name: server
        build:
            context: project/server
            dockerfile: Dockerfile

        networks:
            - net
        depends_on:
            rdb:
                condition: service_healthy
            redis:
                condition: service_healthy
        ports:
            - ${SERVER_PORT}:4000

        env_file:
            - project/server/.env
        environment:
            - MYSQL_HOST=rdb
            - MYSQL_PORT=3306
            - REDIS_HOST=redis
            - REDIS_PORT=6379
            - ELASTIC_HOST=elasticsearch
            - ELASTIC_HTTP_PORT=9200
            - DOMAIN=${WEB_DOMAIN}:${WEB_PORT}
        volumes:
            - user-uploads:/app/uploads

        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:4000/"]
            interval: 10s
            timeout: 5s
            retries: 5

    server-bootstrap:
        image: ghibli-films-server:${SERVER_VERSION}
        container_name: server-bootstrap

        command: ["node", "dist/scripts/createInitialAdmin.js"]

        networks:
            - net
        depends_on:
            - server

        env_file:
            - project/server/.env
        environment:
            - MYSQL_HOST=rdb
            - MYSQL_PORT=3306

    web:
        image: ghibli-films-web:${WEB_VERSION}
        container_name: web
        build:
            context: project/web
            dockerfile: Dockerfile
            args:
                - NEXT_PUBLIC_CDN_URL=http://localhost:${CDN_PORT}

        networks:
            - net
        depends_on:
            server:
                condition: service_healthy
        ports:
            - ${WEB_PORT}:3000

        env_file:
            - project/web/.env
        environment:
            - APP_API_HOST=http://server:${SERVER_PORT}
        volumes:
            - cdn-static:/app/.next/static
            - cdn-public:/app/public

include:
    - ./infra/docker-compose.yml

volumes:
    user-uploads:
        driver: local

networks:
    net:
        name: ghibli-net
        driver: bridge
