services:
    rdb:
        image: mysql:9.4.0
        container_name: mysql-container

        networks:
            - net
        ports:
            - ${MYSQL_PORT}:3306

        environment:
            - LC_ALL=C.UTF-8
            - MYSQL_DATABASE=${MYSQL_DATABASE}
            - MYSQL_USERNAME=${MYSQL_USERNAME}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
            - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
        volumes:
            - rdb-data:/var/lib/mysql
            - ./rdb/sql:/docker-entrypoint-initdb.d

        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s

    redis:
        image: redis:8.2.1
        container_name: redis-container

        networks:
            - net
        ports:
            - ${REDIS_PORT}:6379

        volumes:
            - redis-data:/data

        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 10s
            retries: 5
            start_period: 10s

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
        container_name: elasticsearch-container

        command: >
            bash -c '
              elasticsearch-plugin install --batch analysis-nori;
              /usr/local/bin/docker-entrypoint.sh elasticsearch
            '

        networks:
            - net
        ports:
            - ${ES_PORT}:9200

        environment:
            - discovery.type=single-node
            - xpack.ml.enabled=false
            - xpack.security.enabled=false
            - ES_JAVA_OPTS=-Xms512m -Xmx512m
            - ELASTIC_USERNAME=${ELASTIC_USERNAME}
            - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
        volumes:
            - es-data:/usr/share/elasticsearch/data

        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:9200/_cluster/health"]
            interval: 10s
            retries: 100
            start_period: 60s

    elasticsearch-init:
        image: alpine:3.20
        container_name: elasticsearch-init

        entrypoint: >
            sh -c "
                apk add --no-cache curl gettext jq;
                echo 'Register index templates';
                sh ./init/create_index_templates.sh;"

        networks:
            - net
        depends_on:
            elasticsearch:
                condition: service_healthy

        environment:
            - ES_HOST=elasticsearch
            - ES_PORT=9200
        volumes:
            - ./elasticsearch:/init

    logstash:
        image: docker.elastic.co/logstash/logstash:8.12.0
        container_name: logstash-container

        networks:
            - net
        depends_on:
            elasticsearch:
                condition: service_healthy
        ports:
            - ${LS_PORT}:5044

        environment:
            - LS_JAVA_OPTS=-Xms512m -Xmx512m
            - PIPELINE_BATCH_SIZE=50
            - PIPELINE_WORKERS=2
            - MYSQL_HOST=rdb
            - MYSQL_PORT=3306
            - MYSQL_DATABASE=${MYSQL_DATABASE}
            - MYSQL_USERNAME=${MYSQL_USERNAME}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
            - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
            - ES_HOST=elasticsearch
            - ES_PORT=9200
        volumes:
            - ./logstash/mysql-connector-j-9.4.0.jar:/usr/share/logstash/logstash-core/lib/jars/mysql-connector-java.jar
            - ./logstash/sync_rdb_to_es.conf:/usr/share/logstash/pipeline/sync_rdb_to_es.conf

    kibana:
        image: docker.elastic.co/kibana/kibana:8.12.0
        container_name: kibana-container

        networks:
            - net
        depends_on:
            elasticsearch:
                condition: service_healthy
        ports:
            - ${KB_PORT}:5601

        environment:
            - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
            - NODE_OPTIONS=--max-old-space-size=1024

    cdn:
        image: nginx:alpine
        container_name: cdn

        ports:
            - ${CDN_PORT}:80

        volumes:
            - ./cdn/nginx.conf:/etc/nginx/conf.d/default.conf
            - cdn-static:/usr/share/nginx/html/static
            - cdn-public:/usr/share/nginx/html/public
volumes:
    rdb-data:
        driver: local
    redis-data:
        driver: local
    es-data:
        driver: local
    cdn-static:
        driver: local
    cdn-public:
        driver: local
